

<p class="alert alert-info">
     {{productsText}}
</p>
<ul class="list-group">
    <li *ngFor="let product of products"
     class="list-group-item">
    <strong>I Love {{product}}</strong> 
    </li>
    
</ul>

<p class="alert alert-warning">
   {{fruitsText}}
</p>

<ul class="list-group">
    <li *ngFor="let fruit of fruits"
     class="list-group-item">
    <strong>I Love {{fruit}}</strong> 
    </li>
    
</ul>


<p class="alert alert-success">
   {{citiesText}}
</p>

<ul class="list-group">
    <li *ngFor="let citie of cities"
     class="list-group-item">
    <strong>I Love {{citie}}</strong> 
    </li>
    
</ul>

<p class="alert alert-primary">
   {{subjectsText}}
</p>

<ul class="list-group">
    <li *ngFor="let subject of subjects"
     class="list-group-item">
    <strong>I Love {{subject}}</strong> 
    </li>
    
</ul>

<p class="alert alert-success">
   {{vehiclesText}}
</p>

<ul class="list-group">
    <li *ngFor="let vehicle of vehicles"
     class="list-group-item">
    <strong>I Love {{vehicle}}</strong> 
    </li>
    
</ul>


<p class="alert alert-primary">
   {{animalsText}}
</p>

<ul class="list-group">
    <li *ngFor="let animal of animals"
     class="list-group-item">
    <strong>I Love {{animal}}</strong> 
    </li>
    
</ul>

<p class="alert alert-danger">
   {{sportsText}}
</p>

<ul class="list-group">
    <li *ngFor="let sport of sports"
     class="list-group-item">
    <strong>I Love {{sport}}</strong> 
    </li>
    
</ul>


<p class="alert alert-success">
   {{countriesText}}
</p>

<ul class="list-group">
    <li *ngFor="let countrie of countries"
     class="list-group-item">
    <strong>I Love {{countrie}}</strong> 
    </li>
    
</ul>



<p class="alert alert-success">
   {{languagesText}}
</p>

<ul class="list-group">
    <li *ngFor="let language of languages"
     class="list-group-item">
    <strong>I Love {{language}}</strong> 
    </li>
    
</ul>


<p class="alert alert-success">
   {{ColorText}}
</p>

<ul class="list-group">
    <li *ngFor="let color of colors"
     class="list-group-item">
    <strong>I Love {{color}}</strong> 
    </li>
    
</ul>


